@(productForm: Form[Product])

@main("Product form") {
    <h1>Product form</h1>

    @helper.form(action = routes.ProductController.save(), 'enctype -> "multipart/form-data") {
        <fieldset>
            <legend>Product (@productForm("name").valueOr("New"))</legend>
            @helper.inputText(productForm("ean"), '_label -> "EAN")
            @helper.inputText(productForm("name"), '_label -> "Name")
            @helper.textarea(productForm("description"), '_label -> "Description")
            @helper.inputFile(productForm("picture"))

            @helper.repeat(productForm("tags"), min = 1) { tag =>
                <span class="btn btn-primary">@tag("title").value</span>
            }

            @if(!productForm("picture").valueOr("").isEmpty()) {
            <div class="control-group">
                <div class="controls">
                    <img style="position: relative;
                        left: 50px;
                        height: 80px" src="@routes.ProductController.picture(productForm("ean").value)">
                </div>
            </div>
            }
        </fieldset>

        <input type="submit" class="btn btn-success" value="Save">
    }
}